{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>
<body>
    <div class="container">
        <h2>Administrator</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for names,emails,phones,states in userdata%}
                <tr>
                    <td>{{ names }}</td>
                    <td>{{ phones }}</td>
                    {% if states == "true" %}
                    <td style="color: rgb(243, 19, 19);">Positive</td>
                    {% elif states == "false"  %}
                    <td style="color: rgb(30, 184, 6);">Negative</td>
                    {%else%}
                    <td>{{ states }}</td>
                    {% endif %}
                    <td>
                        {%if states == None%}
                        <form method="post" action="/admin/">
                            {% csrf_token %}
                            <input type="hidden" name="email" value="{{ emails}}">
                            <input type="hidden" name="state" value="{{ states }}">
                            <button style="background-color: rgb(243, 19, 19); color: white;" type="submit" name="statechange" value="true">Positive</button>
                            <button style="background-color: rgb(30, 184, 6); color: white;" type="submit" name="statechange" value="false">Negative</button>
                        </form>
                        {%elif states == "true"%}
                        <form method="post" action="/admin/">
                            {% csrf_token %}
                            <input type="hidden" name="email" value="{{ emails}}">
                            <input type="hidden" name="state" value="{{ states }}">
                            <button style="background-color: rgb(30, 184, 6); color: white;" type="submit" name="statechange" value="false">Negative</button>
                        </form>
                        {%else%}
                        <form method="post" action="/admin/">
                            {% csrf_token %}
                            <input type="hidden" name="email" value="{{ emails}}">
                            <input type="hidden" name="state" value="{{ states }}">
                            <button style="background-color: rgb(243, 19, 19); color: white;" type="submit" name="statechange" value="true">Positive</button>
                        </form>
                        {%endif%}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>    