{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>
<body oncontextmenu="return false;">
    <nav>
        <ul>
            <li><a href="/login/">Admin Login</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
    <marquee behavior="scroll" direction="left">
        Remember to wear a mask in public spaces. Wash your hands frequently with soap and water. Maintain social distancing of at least 6 feet. Stay home if you feel unwell. Get vaccinated when eligible.
    </marquee>
    <div class="container">
        <h2>Admin Registration</h2>
        <form action="/admin_registration/" method="post" >
            {% csrf_token %}
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="password">password:</label><br>
            <input type="password" id="password" name="password" required><br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
