{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>
<body>
    <div class="tablecontainer">
        <h2>Administrator</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>State</th>
                    <th>Action</th>
                    <th>Delete User</th>
                </tr>
            </thead>
            <tbody>
                {% if userdata %}
                    {% for names, emails, phones, states in userdata %}
                        <tr>
                            <td>{{ names }}</td>
                            <td>{{ phones }}</td>
                            {% if states == "true" %}
                                <td style="color: rgb(243, 19, 19);">Positive</td>
                            {% elif states == "false"  %}
                                <td style="color: rgb(30, 184, 6);">Negative</td>
                            {% else %}
                                <td>{{ states }}</td>
                            {% endif %}
                            <td>
                                <form method="post" action="/admin/">
                                    {% csrf_token %}
                                    <input type="hidden" name="email" value="{{ emails }}">
                                    <input type="hidden" name="state" value="{{ states }}">
                                    {% if states == None %}
                                        <button class="positive-button" type="submit" name="statechange" value="true">Positive</button>
                                        <button class="negative-button" type="submit" name="statechange" value="false">Negative</button>
                                    {% elif states == "true" %}
                                        <button class="negative-button" type="submit" name="statechange" value="false">Negative</button>
                                    {% else %}
                                        <button class="positive-button" type="submit" name="statechange" value="true">Positive</button>
                                    {% endif %}
                                </form>
                            </td>
                            <td>
                                <form method="post" action="/admin/">
                                    {% csrf_token %}
                                    <input type="hidden" name="email" value="{{ emails }}">
                                    <button class="delete-button" type="submit" value="delete" name="deleteuser">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No User</td> <!-- Span all columns if no user exists -->
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</body>
</html>
