{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="icon" type="image/png" href="{% static 'image/logo1.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>
<body oncontextmenu="return false;">
    <nav>
        <ul>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
    <br> 
    <div class="container">
        <p>Please click for download your certificate</p>
        <!-- OTP verification form -->
        <form method="post" action="/downloadcertificate/">
            {% csrf_token %}
            {%if email%}
            <input type="hidden" name="email" value="{{email}}">
            <button type="submit">Download</button>
            {%endif%}
        </form>

        <table class="certificate-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    {%if status == "true"%}
                    <td>POSITIVE</td>
                    {%elif status == "false"%}
                    <td>NEGATIVE</td>
                    {%else%}
                    <td>{{status}}</td>
                    {%endif%}
                    <td>{{date}}</td>
                    
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>

    </div>
</body>
</html>

