{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>
<body>
    <div class="container">
        <p>Please click for download to your certificate</p>
        <!-- OTP verification form -->
        <form method="post" action="/verifyotp/">
            {% csrf_token %}
            <button type="submit">Download</button>
        </form>
    </div>
</body>
</html>

