{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>
<body>
    <div class="container">
        <!-- Display a message indicating the recipient's name -->
        {%if name != None%}
        <p>Hi {{ name }},</p>
        {%endif%}
        <!-- Display a message indicating that the OTP has been sent to the recipient's email -->
        {%if email != None%}
        <p>We have sent an OTP to {{email}} this mail.</p>
        {%endif%}
        <p>Please check your inbox and enter the OTP below</p>
        <!-- OTP verification form -->
        <form method="post" action="/otpverify/">
            {% csrf_token %}
            <input type="hidden" name="mail" value="{{email}}">
            <label for="otp">Enter OTP:</label><br>
            <input type="number" id="otp" name="otp" required><br>
            <button type="submit">Verify OTP</button>
        </form>
        {%if error%}
        <p>{{error}}</p>
        {%endif%}
    </div>
</body>
</html>

